.wrap {
  background-color: #e6f3df;
  position: relative;
}

.top {
  width: 100%;

 .topImage {
    width: 100%;
  }
}

.banner {
  z-index: 3;
}

.man {
  margin: 0 auto;
}

.classify {
  overflow: hidden;
  ul {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      border: 2px solid #52ad6a;
      border-radius: 5%;
      text-align: center;
      background-color: #fff;
      padding: 4px 12px 2px;
      flex: 0 1 19%;
      margin-bottom: 1%;

      img {
        width: 65%;
      }

      h2 {
        color: #52ad6a;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  .title {
    margin: 35px auto 42px;
    max-width: 80%;
  }

  .star {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }

  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -20px;
  }

  .brandShop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 94%;

    .title {
      margin: 20px auto 20px;
    }

    .star {
      width: 90%;
      margin: 0 auto;

      div {
        img {
          width: 80%;
        }
      }
    }

    .classify {
      ul {
        width: 80%;
      }
    }

    .items {
      margin-top: 0;
    }
  }
}
