.banner {
  width: 100%;

  img {
    width: 100%;
  }
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  .title {
    margin: 25px auto 20px;
    width: auto;
    max-width: 60%;
  }

  .pony {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 40px;
    margin: 0 auto;

    div {
      img {
        width: 90%;
      }
    }
  }

  .items {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
  }

  .brandShop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 98%;

    .title {
      margin: 12px auto 8px;
    }

    .pony {
      padding-top: 20px;
      padding-bottom: 10px;

      div {
        img {
          width: 70%;
        }
      }
    }
  }
}
