.banner {
  width: 100%;
  text-align: center;
  background: url(../assets/roseBg.jpg) no-repeat;
  background-size: 100%;
  z-index: 1;
  margin-bottom: 5px;

  img {
    width: 22%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  .title {
    max-width: 80%;
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .prefer {
    width: 100%;
  }

  .face {
    margin:10px 0 30px;

    .preTitImg {
      width: 100%;
    }

    .goods {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .clothing {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .image {
     width: 44%;

      img {
        width: 100%;
      }
    }

    .subject {
      width: 56%;
      display: flex;
      flex-wrap: wrap;
      margin-left: 4px;
    }
  }

  .brand {
    margin: 10px 40px 40px;

    //hr {
    //  width: 108%;
    //  position: relative;
    //  left: -4%;
    //  border: none;
    //  border-top: 2px solid #ef2751;
    //  top: -35px;
    //  z-index: -1;
    //}

    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 5px auto 20px;
    }
  }

  .sideL {
    position: fixed;
    top:18%;
    left: 3%;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    ul {
      width: 60px;

      li {
        height: 50px;
        border-bottom: 1px solid #DEE2E5;
        border-left: 1px solid #DEE2E5;
        border-right: 1px solid #DEE2E5;
        background: rgba(255,255,255,1);

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          font-size: 12px;
          padding-top: 7px;
          color: #8F8F8F;
        }

        &:first-child,
        &.activeLi,
        &:hover, &:active {
          background-color: #ef2751;

          a,i::before {
            color: #fff;
          }
        }
      }
    }
  }

  :global(.ant-tooltip-placement-left) {
    height: 100%;
  }

  .sideR {
    width: 30px;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top:0;
    right: 0;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;

    .goTop {
      color: #DEE2E5;
    }

    ul {
      height: 50%;

      li {
        padding: 42% 0;
        text-align: center;

        &:nth-child(1),
        &:nth-child(2) {
          border-bottom: 1px solid #111;
        }

        a {
          width: 100%;
          height: 100%;
          display: inline-block;
          color: #DEE2E5;

          i {
            width: 100%;
            line-height: 100%;
            display: inline-block;
            font-size: 16px;
            color: #DEE2E5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;

    .title {
      padding-top: 0;
      padding-bottom: 10px;
    }

    .face {
      margin: 0;
    }

    .prefer, .brand {
      margin-top: 0;
    }

    .clothing {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;

      .image {
        width: 100%;
        margin-bottom: 2px;
      }

      .subject {
        width: 97%;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .brand {
      margin: 10px;

      //hr {
      //  width: 98%;
      //  left: 1%;
      //  top: -18px;
      //}
    }
    .side {
      display: none;
    }
  }
}
