.head {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.containerBig {
  display: block;
  height: 100vh;
}

.containerSml {
  display: none;
}

@media screen and (max-width: 1024px) {
  .containerBig {
    display: none;
  }

  .containerSml {
    display: block;
    min-height: 100vh;
  }

  :global(.swiper-slide) {
    height: auto !important;
  }
}
