.wrap {
  //border: 1px solid #ccc;
  flex: 0 1 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 15px;
  text-align: left;
  margin: 20px 0 5px;
  background-color: #fff;
  transition: all .2s;
  box-shadow: none;
  position: relative;
  top: 0;

  &:hover{
    overflow: hidden;
    top: -2px;
    box-shadow: 0 4px 7px 2px #aaa;

    .image {
      img {
      opacity: 0.8;
        transform: scale(1.1);
      }
    }
  }
  .image {
    overflow: hidden;
    width: 92%;
    margin: 0 auto;
    padding-bottom: 15px;
    cursor: pointer;
    img {
      width: 100%;
      transition: all .2s;
      transform: scale(1);
      opacity: 1;
    }
  }

  .name {
    width: 100%;
    line-height: 36px;
  }

  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      width: 85px;
      font-size: 22px;
      color: #222;
      vertical-align: bottom;

      .originalPrice {
        color: #bbb;
        margin-left: 4px;
      }

      label {
        font-size: 18px;
        margin-right: 2px;
      }
    }

    button[data-isCollect="yes"]{
      i[class~="anticon-heart-o"]{
        display: none!important;
      }
    }
    button[data-isCollect="no"]{
      i[class~="anticon-heart"]{
        display: none!important;
      }
    }

    .buy {
      width: 66px;
      height: 30px;
      background: none;
      position: relative;

      i[class~="anticon-shopping-cart"]{
        transition: all 1s linear;
        position: absolute;
        right: 4px;
      }
      i[class~="anticon-heart-o" ],i[class~="anticon-heart"]{
        position: absolute;
        left: 4px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    flex: 1 1 26%;
    margin: 10px;
    padding: 12px 10px 8px;

    .image {
      text-align: center;
      padding-bottom: 5px;

      img {
        width: 90%;
      }
    }

    .name {
      display: none;
    }

    .button {
      margin-top: 0;

      .price {
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #ef2751;
        vertical-align: bottom;

        label {
          font-size: 12px;
        }
      }

      .buy {
        display: none;
      }
    }
  }
}
