.wrap {
  //border: 1px solid #ccc;
  flex: 1 1 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 20px 20px 15px;
  text-align: left;
  background-color: #fff;
  transition: all .2s;
  box-shadow: none;
  position: relative;
  top: 0;

  &:hover{
    overflow: hidden;
    top: -2px;
    box-shadow: 0 6px 9px 2px #aaa;
    .image {
      img {
      opacity: 0.8;
        transform: scale(1.2);
      }
    }
  }  
  .image {
    overflow: hidden;
    width: 100%;
    padding-bottom: 15px;
    cursor: pointer;
    img {
      width: 100%;
      transition: all .2s;
      transform: scale(1);
      opacity: 1;
    }
  }

  .name {
    width: 100%;
  }

  .button {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;

    .price {
      width: 75px;
      font-size: 24px;
      color: #ef2751;
      vertical-align: bottom;

      label {
        font-size: 18px;
        margin-right: 2px;
      }
    }

    .buy {
      width: 90px;
      height: 28px;
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    .image {
      text-align: center;
      padding-bottom: 5px;

      img {
        width: 90%;
      }
      //border: 1px solid #ccc;
    }

    .description {
      display: none;
    }

    .button {
      margin-top: 0;

      .price {
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #ef2751;
        vertical-align: bottom;

        label {
          font-size: 12px;
        }
      }

      .buy {
        display: none;
      }
    }
  }
}
