.wrap {
  position: relative;
  text-align: center;
  z-index:3;

  .girl {
    width: 30%;
  }

  //新增/////////////////////////////////
  .float{
    position: absolute;
    z-index: 2;
    text-align: left;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 100%;
    background-color: #63AF77;
    top: 55%;
    left: 51%;

    &::after,&::before{
      content: " ";
      border-radius: 100%;
      height: 0.8vw;
      width: 0.8vw;
      border:1px solid #63AF77;
      display: block;
    }
    &::before{
      animation: before_spread 1s 0s linear infinite;
    }
    &::after{
      animation: after_spread 1s 0.5s linear infinite;
      transform: translateY(-0.8vw);
    }

    &:hover{
      .lineShade{
        width: 24vw;
      }
      .boxShade{
        height: 60px;
      }

    }

    .lineShade{
      position: absolute;
      left: -0.26vw;
      bottom: -0.26vw;
      width: 0;
      overflow-x: hidden;
      transition: width 0.4s linear;
      overflow-y: hidden;
      img {
        width: 24vw;
      }
    }

    .boxShade{
      position: absolute;
      bottom: 7.8vw;
      left: 7.8vw;
      width: 15.4vw;
      height: 0;
      overflow-y: hidden;
      transition: height 0.2s linear 0.3s;

      .box{
        width: 100%;
        color: #63AF77;
        font-size: 14px;
        background-color: #fff;

        .price {
          display: block;
          background-color: #63AF77;
          color: #fff;
          font-size: 14px;
          padding-left: 5px;
          padding-right: 5px;

          label {
            font-size: 15px;
            float: right;
          }
        }
        .des {
          padding: 3px;
        }
      }
    }
  }

  ///////////////////////////////////////////

  .floatp {
    position: absolute;
    text-align: left;
    width: 24%;
    height: 24%;
    top: 30%;
    left: 53%;

    img {
      width: 100%;
    }

    div {
      width: 60%;
      float: right;
      margin-bottom: 5px;
      margin-right: 4%;
      color: #63AF77;
      font-size: 14px;
      background-color: #fff;

      .price {
        display: block;
        background-color: #63AF77;
        color: #fff;
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;

        label {
          font-size: 15px;
          float: right;
        }
      }

      .des {
        padding: 5px;
      }
    }
  }
}

.swiper_pagination {
  .pagination-bullet-active {
    background-color: #52ad6a;
  }
}
:global(.swiper-button-prev){
  margin-left: 10vw
}
:global(.swiper-button-next){
  margin-right: 10vw
}

@keyframes before_spread
{
  0% {
  }
  100%{
    opacity: 0;
    transform: scale(3,3);
  }
}
@keyframes after_spread
{
  0% {
  }
  100%{
    opacity: 0;
    transform:translateY(-0.8vw) scale(3,3);
  }
}
