.breadcrumb {
  width: 80%;
  margin: 20px auto;
  color: rgba(0, 0, 0, 0.65);

  :global(.ant-breadcrumb) {
    span {
      color: #EF2751;

      a {
        color: #222;

        &:hover {
          color: #EF2751;
        }
      }
    }
  }
}

.content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .breadcrumb {
    width: 90%;
    margin: 10px auto 0;
  }

  .content {
    width: 100%;
  }
}
